.nodePanel {
    background-color: white;
    box-shadow: 0 0 8px rgba(170, 170, 170, 0.589);
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 15px;
    margin: 2vh 2vw;

    max-width: 240px;
}
.noteHeader,
.noteText {
    font-size: 1.2rem;
}
.noteHeader {
    margin-bottom: 2px;
}
