.note-panel {
    background-color: white;
    box-shadow: 0 0 8px rgba(170, 170, 170, 0.589);
    display: inline-block;
    border-radius: 15px;
    margin: 1vh 1vw;

    max-width: 240px;
    /* height: 100%; */
    position: relative;
}
.note-info {
    padding: 1.1rem 1.6rem;
}
.note-header,
.note-text {
    font-size: 1.2rem;
}
.note-header {
    margin-bottom: 2px;
}
.task-id {
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: #d8d8d8;
    font-size: 0.8rem;
}
